<header class="header">
    <div class="container-fluid ">
        <div class="row pt-3 justify-content-center">
            <a class="col-5 col-md-3 col-xl-2" href="#"><img src="../images/logo-mercado-liebre.svg" alt="logo"></a>
            <div class="input-group mb-3 col-7 col-md-5 col-xl-6">
                <input type="text" class="form-control" placeholder="Buscar productos, marcas y más" aria-label="Buscar productos, marcas y más" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2"><i class="fas fa-search"></i></span>
                </div>
            </div>


            <div class="col-12 col-md-4 col-xl-4">
                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="d-none d-md-block">
                <div class="row justify-content-center mb-3 ">
                    <nav class="main-navbar container">
                        <ul class="left-navbar">
                            <li><a href="#">Ofertas</a></li>
                            <li><a href="#">Tiendas Oficiales</a></li>
                            <li><a href="#">Vender</a></li>
                            <li><a href="#">Ayuda</a></li>
                        </ul>

                        <ul class="right-navbar">
                            <li><a href="#">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
                            <li><a href="#">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                            <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                        </ul>
                    </nav>
                </div>

            </div>
            <div class="pos-f-t">
                <div class="d-sm-block d-md-none">
                    <nav class="navbar navbar-dark ">
                        <button class="navbar-toggler nav-blue" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-bars"></i>
                        </button>
                    </nav>
                    <div class="collapse" id="navbarToggleExternalContent">
                        <div class="bg-primary p-0 col-12 align-self-end ">
                            <nav class="card card-body px-2 py-2">
                                <ul class="px-2 py-2">
                                    <li>Ofertas</li>
                                    <li>Tiendas Oficiales</li>
                                    <li> Vender</li>
                                    <li>Ayuda</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 px-0">
                    <img class="img-fluid" alt="Responsive image" src="../images/img-home-banner.jpg" alt="">
                </div>
            </div>
        </div>
</header>