    @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
    * {
        margin: 0px;
        padding: 0px;
    }
    
    body {
        background-image: url("../images/bg-body.png");
        font-family: 'Roboto', sans-serif;
    }
    
    a {
        /*         background-color: rgb(53, 53, 53);
 */
        color: white;
        font-size: 12px;
        text-decoration: none;
        text-transform: uppercase;
    }
    
    section.banner img {
        display: none;
    }
    
    article.product {
        display: block;
        width: 100%;
    }
    
    nav.main-nav li,
    footer.main-footer li {
        text-align: center;
        background-color: rgb(53, 53, 53);
        list-style-type: none;
        margin: 5px;
    }
    
    nav.main-nav ul,
    footer.main-footer ul {
        margin: 0px;
        padding: 0px;
    }
    
    img.logo {
        border-radius: 50%;
        display: block;
        margin: 0px auto;
        padding: 10px;
    }
    
    .photo-container {
        position: relative;
    }
    
    .special {
        position: absolute;
        right: 20px;
        width: 80px;
    }
    
    .photo {
        width: 100%;
    }
    
    .zoom {
        background-color: rgba(0, 0, 0, 0.5);
        bottom: 95px;
        display: block;
        font-size: 1.5em;
        font-weight: bolder;
        padding: 10px 0px;
        position: relative;
        text-align: center;
        z-index: 1;
    }
    
    .more {
        background-color: #626262;
        border: none;
        color: white;
        display: inline-block;
        font-size: 16px;
        margin: 25px 0px;
        padding: 14px 14px;
        text-align: center;
        text-decoration: none;
    }
    
    .pipe {
        display: none;
    }
    
    @media (min-width:768px) {
        /*------ Contenedor Padre------*/
        div.container {
            margin: 0px 20px;
        }
        /*------ Banner Grande de-------
            --------  Arriba --------*/
        section.banner {
            margin: 20px 0px;
        }
        section.banner img {
            position: relative;
            width: 100vw;
            display: block;
            /* height: 100%; */
        }
        /*----- cada uno de los article--- 
            ------ muestra un producto  ---*/
        article.product:nth-child(odd) {
            padding-right: 10px;
        }
        article.product:nth-child(even) {
            padding-left: 10px;
        }
        article.product {
            display: block;
            width: 50%;
            float: left;
            box-sizing: border-box;
        }
        section.vip-products {
            overflow: hidden;
        }
        /*------Barra de navegacion ---
           ------- superior -------*/
        nav.main-nav {
            margin-top: 20px;
            margin-bottom: 30px;
        }
        nav.main-nav ul {
            text-align: center;
            width: 100wh;
        }
        nav.main-nav li {
            display: inline;
            margin: 6px;
            padding: 10px 24px;
        }
        nav.main-nav li:nth-last-child(1) {
            margin-right: 0px;
        }
        nav.main-nav li:nth-child(1) {
            margin-left: 0px;
        }
    }
    
    @media (min-width:1024px) {
        /*------Barra de navegacion ---
           ------- superior -------*/
        nav.main-nav {
            margin-top: 20px;
            margin-bottom: 30px;
        }
        nav.main-nav ul {
            text-align: center;
            width: 100wh;
        }
        nav.main-nav li {
            display: inline;
            margin: 6px;
            padding: 10px 24px;
        }
        nav.main-nav li:nth-last-child(1) {
            margin-right: 0px;
        }
        nav.main-nav li:nth-child(1) {
            margin-left: 0px;
        }
        /*----- cada uno de los article--- 
            ------ muestra un producto  ---*/
        article.product:nth-child(even) {
            padding-left: 10px;
            padding-right: 10px;
        }
        article.product {
            display: block;
            width: 33%;
            float: left;
            box-sizing: border-box;
        }
        section.vip-products {}
        /*------Barra de navegacion ---
           ------- inferior -------*/
        footer.main-footer {
            background-color: red;
            height: 10vh;
            width: 95vw;
            position: relative;
            bottom: 0px;
            margin-bottom: 0px;
            margin-top: 0px;
            padding-top: 30px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
        footer.main-footer ul {
            text-align: center;
            width: 100wh;
        }
        footer.main-footer li {
            display: inline;
            /* margin: 6px;
            padding: 10px 24px; */
            text-align: center;
            background-color: red;
            list-style-type: none;
            margin: 5px;
        }
        footer.main-footer li:nth-last-child(1) {
            margin-right: 0px;
        }
        footer.main-footer li:nth-child(1) {
            margin-left: 0px;
        }
        .pipe {
            display: block;
        }
    }