html * {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    ;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 900px;
    background-color: lightgray;
}

h1 {
    font-size: 37px;
    line-height: 46px;
    color: #000000;
}

h2 {
    font-size: 25px;
    line-height: 38px;
}

h3 {
    font-size: 18px;
    color: #666666;
}

p {
    font-size: 18px;
    line-height: 27px;
    color: #333333;
    text-align: justify;
}